body{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width:960px;
    font-size:18px;
    margin:auto;
    margin-top: 50px;
    }
    .boxh{
      background: #ebebeb;
      text-align:center;
      width:960px;
      height:45px;
      margin-bottom: 5px;
      
    }
    .boxn{
      background: #ebebeb;
      text-align:center;
      width:960px;
      height:45px;
      margin-bottom: 5px;
    }
    .boxc{
      background: #ebebeb;
      width:28%;
      height:150px;
      text-align:center;
      padding: 80px;
      border:7px solid blue;
      padding-top: 50px;
      float:right;
      
    }
    .boxs{
      background: #ebebeb;
      height:150px;
      width:35%;
      height:150px;
      text-align:center;
      float:left;
      padding: 80px;
      border:7px solid blue;
      position:relative;
      padding-top: 50px;
    }

    .boxr{
    color: #ebebeb;
    background:#777;
    text-align: center;
     width: 360px;
    height: 200px;
 padding-top: 5px;
   position: absolute;
     right: 80px;
      left:30px;
    
    
    }
    
    .boxe{ 
      background: #ebebeb;
      color:#777; 
      text-align: center;
      width: 340px;
      height: 50px;
      position:relative;
      margin-top:20px;
      margin-left: auto;
      margin-right:auto;
    
  
    }
    
    .boxp{
      background: #ebebeb;
      color:#777; 
      text-align: center;
      width: 340px;
      height: 50px;
      position:relative;
      margin-top:20px;
      margin-left: auto;
      margin-right:auto;

      
    }
    
    .boxf{
      background: #ebebeb;
      text-align:center;
      width:960px;
      height:45px;
      margin-bottom: 5px;
      clear: both;
    }